dist: trusty
language: c
compiler:
  - gcc
  - clang
env:
  - MRUBY_VERSION=master
addons:
  apt:
    packages:
      - rake
      - bison
      - git
      - gperf
matrix:
  allow_failures:
    - compiler: clang
branches:
  only:
    - master
before_install:
  - sudo apt-get -qq update
script:
  - rake test

notifications:
  slack:
    secure: SfCD9cpacpMXx4IqmJ+9/g0J2uCH4zt+OVJJpJbNvrIa6QYfnUaVPAAftzjPl4UUfIw8OvRZVXF5V+qIuebNrMkJppJ9BpFp44ZNrxcIa+Abw/8U/4WXVsVXKzcNUxuLxt6u6jW1IAITw8UD9ScwigUjGlCVVEj2coeA0SttqqHP+rmSaoDdGIoiwUhGGi0yr6AUi9ib8+ZbvuR10FeED3lppx78TwhsH1B6ohPNGoSqiPVtRXySlrnZ2qVS6DZsy/4DSVjoM0kdyuOY9xUmFZNSAtWEixRnQ21h5II36veb/+OR9j1PnoCgh8teUYMHgbaDfwzbqFnTxdCbP6GWZ2C+ouMitu6DjMYv5My1Cmt0mRly49EO4Gsxk7oi8KFnAssvbpdxMtYSLxWikF9e9XbJErJ0ywgZIEyUqAtfhz7aZUTF0FF1Q9MfTMhLmvAI4XB6+gA4+fymrNGZkz9bSjSKP02mixg/tcc8J5EzPOJIldVWfKhq4rLmJOis/HZNrJ5+v0XLLdKaBKa4VFsb88BBDZ3Dy8bihcd8bUZmxql+i1osyohSW+LnlGIS7S8YS4FONd/OAlxRBNXSAQmYlVsgzfd7UVQaVC46OqQQtsgZJFid2ql/fa+lNrilyBgWaHOeMs2EcVTRXmydkO31Da0VgkFfjEnbZh0TKhyR3ns=
